.filters {
}

.filterTitle {
    display: inline-block;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.showFilters {
    display: block;
}

.radioboxes {
    display: none;
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
    font-family: "Manrope", sans-serif;
    animation: fadeInOut 0.3s ease-in-out;
}

.radioboxes b {
    font-size: 16px;
}

.radioboxes span {
    font-size: 14px;
}

input[type="radio"] {
    display: none;
}

label {
    position: relative;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

label:hover > b,
label:hover > span {
    text-decoration: underline;
}

input[type="radio"] + b {
    display: inline-block;
    margin-bottom: 5px;
}
input[type="radio"]:checked + b {
    color: rgb(250, 186, 84);
    text-decoration: underline;
    margin-bottom: 5px;
}

.labels {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.labelsLeon,
.labelsTwin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 90px;
}

.checkbox {
    display: flex;
    align-items: center;
}

input[type="checkbox"]:disabled + span {
    color: rgb(65, 65, 65);
}

.checkboxCasino input[type="checkbox"],
.checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: rgb(250, 186, 84);
    border-color: rgb(250, 186, 84);
}
input[type="checkbox"]:disabled {
    border: 1px solid rgb(65, 65, 65);
}

.checkbox span {
    margin-left: 4px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
