@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #1c1d21;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto 40px;
}

.content {
}

.input {
  max-width: 600px;
  width: 100%;
  display: block;
  margin: 0 auto 20px;
  padding: 10px 15px;

  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

@import "./cards.css";
@import "./modal.css";
@import "./filters.css";
