@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #1c1d21;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto 40px;
}

.content {
}

.input {
  max-width: 600px;
  width: 100%;
  display: block;
  margin: 0 auto 20px;
  padding: 10px 15px;

  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.radioboxes {
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  gap: 20px;
  font-family: "Manrope", sans-serif;
}

.radioboxes bold {
  font-size: 16px;
}

.radioboxes span {
  font-size: 14px;
}

input[type="radio"] {
  display: none;
}

label {
  position: relative;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

label:hover > bold,
label:hover > span {
  text-decoration: underline;
}

input[type="radio"]:checked + bold {
  color: rgb(250, 186, 84);
  text-decoration: underline;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.labelsLeon,
.labelsTwin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 90px;
}

@import "./cards.css";
@import "./modal.css";
